<template name="pageTitle">
    <div class="row">
        <div id="paper-top">
            <div class="col-sm-3">
                <h2 class="tittle-content-header">
                    <i class="icon-window"></i>
                    <span>Dashboard</span>
                </h2>
            </div>

            <div class="col-sm-7">
                <div class="devider-vertical visible-lg"></div>
                <div class="tittle-middle-header">
                    <div class="alert">
                        <span class="tittle-alert entypo-info-circled"></span>
                        Bienvenido,&nbsp;
                        <strong>{{username}}!</strong>
                    </div>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="devider-vertical visible-lg"></div>
                <!-- No content -->
            </div>
        </div>
    </div>
</template>
