<template name="createTournament">
	<div class="col-sm-12">
        <div class="nest" id="verticalClose">
            <div class="title-alt">
                <h6>Crear Torneo</h6>
            </div>

            <div class="body-nest">
                <div id="tab_vertical" class="row">

                    <ul class="nav nav-pills nav-stacked col-sm-3 pl15" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#" aria-controls="form" role="tab" data-toggle="tab">1. Crear Torneo</a>
                        </li>
                        <li role="presentation" class="disabled">
                            <p class="ptm pbm pl15 pr15">2. Invitar Amigos</p>
                        </li>
                    </ul>

                    <div class="tab-content col-sm-9">
                        <section role="tabpanel" class="tab-pane bg-form active" id="form">
                            {{> formTournament}}
                        </section>

                        <section role="tabpanel" class="tab-pane bg-form" id="invite">
                            <p>Fake friends invitation.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
