<template name="layout">
	<!-- TOP NAVBAR -->
    {{> navigation}}

    <!-- SIDE MENU -->
    {{> sidebar}}

    <!--  PAPER WRAP -->
    <div class="wrap-fluid">
        <div class="container-fluid paper-wrap bevel tlbr">

            <!-- TITLE -->
            {{> pageTitle}}

            <!-- BREADCRUMB -->
            {{> breadcrumbProde}}

            <!-- FLASH MESSAGES -->
            {{> messages}}

            {{> yield}}

        <!-- FOOTER -->
        {{> footer}}

        </div>
    </div>
    <!--  END OF PAPER WRAP -->

</template>
