<template name="notFound">
	<div class="logo-error">
        <h1>
            <a href="{{pathFor 'home'}}">
                <img src="/images/prode-logo-small.png" title="Logo">
                <span>Prode de Amigos</span>
            </a>
        </h1>
    </div>

    <!-- Main content -->
    <section class="page-error">
        <div class="error-page">
            <h2 class="headline text-info">404</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>
                <p>
                    No hemos podido encontrar la p&aacute;gina que estas buscando. Mientras tanto, puedes <a class="error-link" href="{{pathFor 'dashboard'}}">regresar al dashboard</a>.
                </p>
            </div>
            <!-- /.error-content -->
        </div>
        <!-- /.error-page -->
    </section>
</template>
