<template name="forgotPassword">

    <!-- FLASH MESSAGES -->
    {{> messages}}

    <form role="form" class="forgotPassword">
        <div class="form-group {{errorClass 'email'}}">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button class="btn btn btn-primary pull-right" type="submit">
            Enviar
        </button>
    </form>

    <div class="or-box">
        <center><span class="text-center login-with">
            <a href="{{ pathFor 'login' }}">Iniciar sesi&oacute;n</a>
            o <a href="{{ pathFor 'join' }}">Registrarse</a>
        </span></center>
    </div>

</template>
