<template name="join">

	<form role="form" class="join">
        <div class="form-group {{errorClass 'email'}}">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group {{errorClass 'password'}}">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group {{errorClass 'confirm'}}">
            <label for="confirm">Repetir Password</label>
            <input type="password" name="confirm" class="form-control" required>
        </div>
        <div class="checkbox pull-left">
            <label>
                <input type="checkbox">No cerrar sesi&oacute;n</label>
        </div>
        <button class="btn btn btn-primary pull-right" type="submit">
            Registrarse
        </button>
    </form>
    <a class="forgotLnk" href="index.html"></a>
    <div class="or-box">
        <center><span class="text-center login-with">
        	<a href="{{ pathFor 'login' }}">Iniciar sesi&oacute;n</a>
        	o Registrarse con</span></center>
        <div class="row">
            <div class="col-md-6 row-block">
                <a href="#" class="btn btn-facebook btn-block">
                    <span class="entypo-facebook space-icon"></span>Facebook
                </a>
            </div>
            <div class="col-md-6 row-block">
                <a href="#" class="btn btn-twitter btn-block">
                    <span class="entypo-twitter space-icon"></span>Twitter
                </a>
            </div>
        </div>
    </div>

</template>
