<template name="resetPassword">
	<form role="form" class="resetPassword clearfix">
        <div class="form-group {{errorClass 'password'}}">
            <label for="password">Nuevo Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="form-group {{errorClass 'confirmPassword'}}">
            <label for="password">Confirmar Nuevo Password</label>
            <input type="password" name="confirm" class="form-control" required>
        </div>
        <button class="btn btn btn-primary pull-right btn-send" type="submit">
            Enviar
        </button>
    </form>

    <hr>

    <div class="row-block">
        <div class="row">
            <div class="col-md-12 row-block">
                <a href="{{ pathFor 'join' }}" class="btn btn-primary btn-block">Registrarse</a>
            </div>
        </div>
    </div>
</template>
