/*** FONT FACES ***/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/open-sans-light.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/open-sans-normal.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/open-sans-bold.woff) format('woff');
}
/*** END FONT FACES ***/

html {
	 -webkit-font-smoothing: antialiased;
}
/**
 * BOOTSRAP COUSTOM
 */
 .container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;
}
.row-fluid[class*="span"] {
    margin-left: 0!important;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 16px!important;
    margin-top: 2px!important;
    margin-right: 15px;
    margin-bottom: 15px!important;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px!important;
    font-size: 31px!important;
    color: #fff!important;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent!important;
}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px!important;
}
.navbar-nav > li > a {
    color: #F5F5F5!important;
    font-size: 13px!important;
}
/*** END BOOTSRAP COUSTOM ***/

/*** Login Page ***/
/* maki */
[class*="maki-"]:before {
    font-family:'maki', sans-serif;
}
/* entypo */
[class*="entypo-"]:before {
    font-family:'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
    font-family:'FontAwesome', sans-serif;
}
body {
    color: #9ea7b3!important;
    font-family:"Open Sans", Arial, sans-serif!important;
    font-size: 14px!important;
    line-height: 20px;
    overflow-x: hidden!important;
    min-height: 100%;
    z-index: -2;
    margin: 0px !important;
    background: url('/images/bg.jpg') no-repeat top center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#login-wrapper {
    margin: 50px auto 0;
    position: relative;
    z-index: 5;
}
#logo-login {
    background: rgba(48, 65, 96, 0.8);
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    padding: 1px 0 14px;
    ;
}
#logo-login h1 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    text-align: center;
}
#logo-login h1 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    font-size: 11px;
    margin-left: 0;
    padding: 0 5px;
    position: relative;
    top: -3px;
}
#login-wrapper3 {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px;
    width: 60%;
    position:relative;
    top:0px;
    left:0;
    z-index:200;
}
.form-signin {
    margin: 0 auto;
    padding: 15px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    -moz-box-sizing: border-box;
    font-size: 13px;
    height: auto;
    padding: 10px;
    position: relative;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}
.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}
.input-group-addon, .btn-fltees:hover {
    background: none repeat scroll 0 0 #10ABCE !important;
    border: 1px solid #10ABCE !important;
    color: #FFFFFF;
}
.btn-fltees {
    background: none repeat scroll 0 0 #0DB8DF !important;
    border: 1px solid #0DB8DF!important;
}
.form-control:focus {
    border-color: #0DB8DF !important;
    box-shadow: none!important;
    outline: 0 none;
}
#logo-wrapper {
    width: 100%;
    height:60px;
}
#logo-wrapper > img {
    height:30px;
}
/* Login  Coustom */
 .account-box {
    -moz-border-radius: 0 0 4px 4px
    -webkit-border-radius: 0 0 4px 4px;
    -khtml-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    z-index: 3;
    font-size: 13px !important;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    padding: 20px;
}
.logo {
    width: 138px;
    height: 30px;
    text-align: center;
    margin: 10px 0px 27px 40px;
    background-position: 0px -4px;
    position: relative;
}
.forgotLnk {
    margin-top: 10px;
    display: block;
}
.purple-bg {
    background-color: #6E329D;
    color: #fff;
}
.or-box {
     border-top: 1px solid #DFDFDF;
    margin-bottom: 0;
    margin-top: 80px;
    padding-top: 20px;
    position: relative;
}
.or {
    background-color: #FFFFFF;
    color: #666666;
    position: relative;
    text-align: center;
    top: -30px;
    width: 60px;
    padding:0 10px;
}
.account-box .btn:hover {
    color: #fff;
}
.btn-facebook {
    background-color: #3B5998;
    color: #fff;
    font-weight:bold;
}
.btn-twitter {
    background-color: #00ACED;
    color: #fff;
    font-weight:bold;
}
/*.btn-google {
    background-color: #C32F10;
    color: #fff;
    font-weight:bold;
}
.btn-instagram {
    background-color: #316698;
    color: #fff;
    font-weight:bold;
}*/
.label-forgot {
    font-size: 11px;
    color: #3276B1;
}
.label-forgot:hover {
    text-decoration: none;
}
.space-icon {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    padding-right: 10px;
}
.login-with {
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
    text-align: center;
    top: -33px;
}
.login-with b{
    color: #00ACED;
    cursor: pointer;
}
.error, .error label { color: red; }
.error input {
	border-color: red;
	background-color: #ffeeee;
}
/*** END Login Page ***/

/*** Navigation ***/
.navbar {
    border: 1px solid rgba(0, 0, 0, 0);
    margin-bottom: 0!important;
    margin-top: 10px!important;
    min-height: 65px!important;
    position: relative!important;
}
.navbar .brand {
    font-size: 22px !important;
    letter-spacing: -2px;
    text-transform: uppercase;
    ;
}
.navbar .brand span {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
}
.navbar .brand i {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 2px 2px 2px 2px;
    color: #F4F4F4;
    font-size: 9px;
    font-style: normal;
    letter-spacing: 0;
    padding: 2px 3px;
    position: relative;
    right: -7px;
    top: -4px;
}
.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;
}
button.navbar-toggle.toggle-menu-mobile {
    position: absolute;
    right: 40px;
}
button.navbar-toggle.toggle-menu-mobile {
    position: absolute;
    right: 40px;
}
#logo-mobile {
    left: -33px;
    position: absolute;
    top: -14px;
    z-index: 0;
}
#logo h1, #logo-mobile h1 {
    font-size: 19px;
    font-weight: 200;
    letter-spacing: -1px;
    text-decoration: inherit;
    color: #fff;
    margin-top: 30px;
}
#logo h1 img, #logo-mobile h1 img {
    margin-right: 5px;
}
#logo h1 a, #logo-mobile h1 a {
    color: #fff;
    text-decoration: none;
}
#logo h1 span, #logo-mobile h1 span {
    top: -3px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: none!important;
    border-color: none!important;
}
.noft-red {
    background: none repeat scroll 0 0 #EA3F3F;
    border-radius: 26px;
    color: #FFFFFF;
    font-size: 10px;
    left: 25px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 20px;
}
.noft-green {
    background: none repeat scroll 0 0 #4AC4BC;
    border-radius: 26px;
    color: #FFFFFF;
    font-size: 10px;
    left: 25px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 20px;
}
.noft-blue {
    background: none repeat scroll 0 0 #0DB8DF;
    border-radius: 3px;
    color: #FFFFFF;
    float: right!important;
    font-size: 9px;
    left: 0;
    padding: 0 5px;
    position: relative;
    text-align: center;
    top: 0;
}
.noft-icon {
    border-radius: 50%;
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    height: 25px;
    left: -13px;
    line-height: 23px;
    position: relative;
    text-align: center;
    width: 25px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #262626;
    text-decoration: none;
    background-color: transparent!important;
}
.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 3px 0 0;
    min-width: 160px;
    position: absolute;
    top: 100%;
    z-index: 2147483647!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    border: 0px solid #ccc!important;
    border: 1px solid rgba(0, 0, 0, .15)!important;
}
.dropdown-menu.dropdown-wrap b {
    background: none repeat scroll 0 0 #A8BDCF;
    border-radius: 3px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: normal;
    margin-top: 0;
    padding: 2px 4px;
    position: absolute;
    right: 10px;
}
.dropdown-menu.dropdown-wrap div {
    background: none repeat scroll 0 0 #A8BDCF;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 13px;
    left: 0;
    padding: 6px;
    position: relative;
    text-align: center;
    width: 230px;
    cursor: pointer;
}
.dropdown-menu.dropdown-wrap div:hover {
    background: none repeat scroll 0 0 #0DB8DF;
}
.dropdown-menu > li > a {
    font-size: 13px;
}
.dropdown-menu > li > a {
    clear: both;
    color: #777777!important;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 30px!important;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover {
    color: #39B3D7!important;
}
.dropdown-wrap:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 13px 13px;
    content:"";
    display: block;
    left: 10.5%;
    margin-left: -15px;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}
.dropdown-setting {
    border-left: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    margin-top: 14px !important;
    position: absolute;
    border-radius: 4px!important;
    width: 165px!important;
}
.dropdown-setting:after {
    border-color: #FFFFFF rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 13px 13px;
    content:"";
    display: block;
    left: 80%;
    margin-left: -15px;
    position: absolute;
    top: -10px;
    width: 0;
    z-index: 1;
}
.img-msg {
    border-radius: 50%;
    color: #FFFFFF;
    height: 25px;
    left: -17px;
    position: relative;
    top: 0;
    width: 25px;
}
.running-text {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    color: #FFFFFF;
    margin: 6px;
    padding: 10px 45px 0 20px;
    width: 50%;
}
.date-top {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin-left: -30px;
    padding-right: 15px;
}
.date-top > li {
    display:inline;
}
.digital {
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.1);
    float: left;
    margin-left: -25px;
    margin-right: -25px;
    padding-right: 15px;
}
.digital li {
    display:inline;
}
.meridiem {
    font-size:10px;
}
#nt-title {
    margin:0;
}
#nt-title li {
    list-style: none outside none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.admin-pic {
    border: 2px solid rgba(255, 255, 255, 0.8);
    display: inline-block;
    float: left;
    height: 45px;
    margin-left: -15px;
    margin-right: 19px;
    margin-top: -12px;
    width: 45px;
}
.admin-pic.table-position {
    height: 35px;
    margin-top: -5px;
    width: 35px;
}
.theme-bg {
    margin: 0 5px!important;
}
.theme-bg div {
    display: inline-block;
    float: left;
}
/*** END Navigation ***/

#logo {
    left: 19px;
    position: relative;
    top: -34px;
    max-width: 191px;
}
#logo-mobile {
    left: -33px;
    position: absolute;
    top: -14px;
    z-index: 0;
}

/*** Skin select ***/
#skin-select h3, #skin-select h4 {
}
.menu-left-nest {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
#menu-showhide {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
#skin-select {
    height: auto;
    position: absolute;
    top: 20px;
    width: 250px;
    z-index: 1000;
}
#skin-select #toggle {
    /*  background: url("img/style-toggle.png") no-repeat scroll -5px -5px  rgba(0, 0, 0, 0.4);*/
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: -10px;
    width: 30px;
    font-size: 14px;
}
#skin-select #toggle:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
}
#skin-select #toggle.active {
    background-position: -5px -45px;
    height: 30px;
    left: 210px;
    position: absolute;
    top: -10px;
    width: 30px;
    border-radius: 3px;
}
#skin-select li {
    font-size: 20px;
    line-height: 0;
    list-style: none outside none;
    margin: 0;
    text-align: left;
    color: #FFFFFF;
    /*  border-top: 1px solid rgba(0,0,0,0.2);  */
}
#skin-select li span {
    /*    font-size: 14px; */
    left: 10px;
    position: relative;
}
.menu-hide span {
    color: red;
}
#skin-select li ul li {
    line-height: 20px;
}
#skin-select li i {
    font-size: 18px;
    font-style: normal;
    left: -5px;
    line-height: 15px;
    position: relative;
    width: 20px;
    top:5px;
}
#skin-select li li i {
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    left: -5px;
    line-height: 15px;
    position: relative;
    width: 23px;
    top:2px;
}
.skin-part {
    padding: 0;
    position: relative;
    top: 0;
}
.skin-part h3 {
    color:#000;
    text-shadow:none;
    margin-bottom:10px;
}
.skin-part h3 small {
    margin-left:6px;
    color:#999;
}
.skin-part h4 {
    font-size:1em;
    margin:4px 0!important;
}
.title-leftmenu {
    padding: 10px;
}
.title-menu-left {
    color: rgba(255, 255, 255, 0.5) !important;
    display: block;
    font-size: 10px !important;
    line-height: 25px;
    list-style: none outside none;
    padding: 5px 10px 5px 0 !important;
    text-decoration: none;
    text-transform: uppercase !important;
    width: 100%;
}
.title-menu-left:hover {
    background: transparent!important;
}
.title-menu-left:hover:after {
    display: none!important;
    border-left:4px solid transparent!important;
}
.title-menu-left span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    height: 22px;
    line-height: 20px;
    padding: 0 11px;
}
.config-wrap {
    margin: 0 -12px 0 0;
}
.config-wrap[title]:hover:after {
    font-size: 9px!important;
}
.widget-menu:before {
    content:"Widget Menu" !important;
}
.design-kit:before {
    content:"Design Kit Menu" !important;
}
.component:before {
    content:"Component Kit Menu" !important;
}
/*** END Skin select ***/

/*** Sidebar ***/
.dark {
    background: url("/images/search-white.png") no-repeat scroll 36px 12px;
    margin-top: -18px;
    padding: 0 10px;
    border-radius: 4px;
}
.dark input[type=text] {
    border-bottom: medium none;
    border-top: medium none;
    border-left: medium none;
    border-right: medium none;
    color: #FFFFFF;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.search {
    padding: 10px 15px 10px 60px;
    width:100%;
}
input[type="search"] {
    font-family: inherit;
    font-size: 100%;
}
/*input[type="search"] {
    background: url("/images/search-icon.png") no-repeat scroll 9px center #EDEDED;
    border: 1px solid #CCCCCC;
    border-radius: 10em 10em 10em 10em;
    padding: 9px 10px 9px 32px;
    width: 55px;
}*/
input[type="search"]:focus {
    background-color: #FFFFFF;
    border-color: #6DCFF6;
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
input: -moz-placeholder {
    color: #999999;
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
    display: none;
}
.select2-results__options { color: #555; }
.select2-container:focus, .select2-container .selection:focus { outline: none; }
/*input[type=search] {
    background: url("/images/search-white.png") no-repeat scroll 18px center rgba(0, 0, 0, 0.3);
    border: 0px solid #ddd;
    padding: 9px 10px 14px 32px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}*/
input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}
.search-hover {
    display: block;
    position: absolute;
    top: 45px;
    left: 200px;
    right: -100px;
}
/* Demo 2 */
 #demo-2 input[type=search] {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    padding-left: 10px;
    width: 50px;
}
#demo-2 input[type=search]:hover {
    background-color: #252D3B;
}
#demo-2 input[type=search]:focus {
    width: 200px;
    padding-left: 50px;
    padding-top: 9px;
    color: #252D3B;
    cursor: auto;
    border: 1px solid #ddd;
    box-shadow: none!important;
    background: url("/images/search-dark.png") no-repeat scroll 18px center #ffffff;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}
#tree-wrap {
    height: 470px;
    width: 100%;
    overflow-y: none;
    overflow-x: none;
}
.topnav {
    padding: 40px 28px 25px 0;
}
ul.topnav {
    margin: 0;
    font-size: 14px;
    line-height: 0.5em!important;
    list-style: none!important;
    padding: 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
ul.topnav li a {
    color: #FFFFFF !important;
    display: block;
    font-size: 13px;
    line-height: 25px;
    list-style: none outside none;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
ul.topnav li a:hover {
    background-color:rgba(0, 0, 0, 0.2);
    /* #252d3b */
    color: white!important;
    text-shadow: none;
    border-left: 2px solid #ffffff;
    padding-left: 28px;
    position: relative;
}
ul.topnav li a:hover:after {
    border-bottom:6px solid #ffffff;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    width:0;
    height:0;
    position: absolute;
    top:19px;
    left: -6px;
    content:"";
    display:block;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    tranform: rotate(90deg);
}
ul.topnav ul {
    margin: 0;
    padding: 0;
    display: none;
}
ul.topnav ul li {
    margin: 0;
    padding: 0;
    clear: both;
    list-style: none outside none;
}
ul.topnav ul li a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 30px;
    /* transition: all 0.2s ease 0s;*/
}
ul.topnav ul li a:hover {
    background-color: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    color: #FFFFFF!important;
}
ul.topnav ul ul li a {
    color: #444;
    padding-left: 40px;
    background: #252d3b;
    transition: all 0.2s ease 0s;
}
ul.topnav ul ul li a:hover {
    background-color: #D3CEB8;
    color: #675C7C;
}
ul.topnav h4 {
    float: right !important;
    margin-top: -2px;
}
#menu-showhide {
    margin: 10px;
}
.side-dash {
    margin: 10px;
    width: 230px;
}
.side-dash h3 {
    color: #FFFFFF !important;
    font-size: 12px;
    margin-bottom: 10px !important;
    padding: 10px;
}
.side-dash h3 span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 24px;
    margin-left: -10px;
    padding: 4px 12px;
    text-align: center;
}
.side-dashh-list, .side-bar-list {
    margin-bottom: 25px;
    margin-left: -30px;
}
.side-dashh-list li, .side-bar-list li {
    font-size: 12px !important;
    line-height: 1.6em !important;
}
.side-dashh-list span {
    float: right !important;
    padding-right: 15px;
}
.side-dashh-list span i {
    left: 0 !important;
    margin-left: 8px;
}
.side-bar-list li {
    font-size: 12px !important;
    line-height: 4em !important;
}
.linebar, .linebar2, .linebar3 {
    float: right;
    margin-right: 10px;
}
.no-cursor { cursor: normal; }
.widget-tournaments:before { content: "Torneos" !important; }
/*** END Sidebar ***/

/*** PAPER FLOAD ***/
 .paper-wrap {
    background-color: none repeat scroll 0 0 #ffffff;
    background-position: -1px 0;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, transparent 20px, $color-green 20px), linear-gradient(135deg, transparent 20px, $color-green 20px), linear-gradient(225deg, transparent 20px, $color-green 20px), linear-gradient(315deg, transparent 20px, $color-green 20px);
    background-position: bottom left, top left, top right, bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    padding: 20px 20px 100px;
}
.paper-wrap:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 42px 42px 0;
    border-style: solid;
    border-color: #ffffff rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.bevel.tlbr {
    background: #f5f5f5;
    background: -moz-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -moz-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -moz-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -o-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -o-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -o-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
    background: -webkit-linear-gradient(45deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(135deg, transparent 30px, #f5f5f5 30px), -webkit-linear-gradient(225deg, #f5f5f5 30px, #f5f5f5 30px), -webkit-linear-gradient(315deg, transparent 30px, #f5f5f5 30px);
}
.bevel.all, .bevel.trbl, .bevel.tlbr, .bevel.tr {
    background-position: bottom left, bottom right, top right, top left;
    -moz-background-size: 52% 52%;
    -webkit-background-size: 52% 52%;
    background-size: 52% 52%;
    background-repeat: no-repeat;
}
#paper-top {
    border-bottom: 1px solid #DDDDDD;
    padding:0;
    height:40px;
}
.tittle-content-header > div {
    float: left;
    margin-right: 10px;
}
.tittle-content-header {
    color: #9EA7B3 !important;
    font-family:"Open Sans";
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 0 60px;
    text-transform: uppercase;
}
.tittle-content-header > span > i {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
}
.devider-vertical {
    border-right: 1px dashed #CCCCCC;
    height: 74px;
    left: 0;
    position: absolute;
    top: -35px;
    width: 3px;
}
.tittle-middle-header {
    margin: -17px 0;
    padding: 1px 0;
}
.tittle-alert {
    color:#4AC4BC;
}
.nest {
    background: none repeat scroll 0 0 #fff;
    clear: both;
    position: relative;
    border-radius: 3px;
}
.nest .title {
    height: 50px;
    background-color: #595F69;
    border-radius: 4px 4px 0 0;
}
.nest .title h6 {
    color: #F1F1F1;
    float: left;
    font-family:'Open Sans Condensed', serif;
    font-size: 20px;
    font-weight: normal;
    padding: 0 12px;
    position: relative;
    text-transform: uppercase;
    top: 4px;
}
.nest .title .titleIcon {
    background: none repeat scroll 0 0 #323a45;
    border-radius: 3px 0 0 0;
    color: #fff;
    float: left;
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 13px 12px 7px 18px;
    width: 21px;
}
.nest .title .titleToggle {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 5px 0 0;
}
.nest .title .titleClose {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 12px 0 0;
}
 .nest .title-alt {
    border-radius: 4px 4px 0 0;
    height: 50px;
    margin: 20px auto 0;
    border-bottom: 1px dotted #DDDDDD;
}
.nest .title-alt h6 {
    color: #9EA7B3;
    float: left;
    font-family:'Open Sans', serif;
    font-size: 14px;
    font-weight: normal;
    left: 15px;
    padding: 0 5px 2px;
    position: relative;
    text-transform: uppercase;
    top: 6px;
}
.nest .title-alt .titleIcon {
    background: none repeat scroll 0 0 #323a45;
    border-radius: 3px 0 0 0;
    color: #9EA7B3;
    float: left;
    font-size: 18px;
    height: 30px;
    margin: 0;
    padding: 13px 12px 7px 18px;
    width: 21px;
}
.nest .title-alt .titleToggle {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 10px 0 0;
}
.nest .title-alt .titleToggle .nav-toggle-alt {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}
.nest .title-alt .titleToggle .nav-toggle-alt:hover {
    color: #3498DB;
}
.nest .title-alt .titleClose {
    border-radius: 3px 0 0;
    float: right;
    margin: 14px 15px 0 0;
}
.nest .title-alt .titleClose .gone {
    color: #DDDDDD;
    font-size: 16px;
    position: relative;
}
.nest .title-alt .titleClose .gone:hover {
    color: #FF0064;
}
.nest .title-alt .titleFull {
    border-radius: 3px 0 0;
    float: right;
    font-size: 24px;
    margin: 14px 12px 0 0;
    display: none;
}
.nest .title-alt .titleFull .fullexe {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #DDDDDD;
    font-size: 19px;
    padding: 0;
    position: relative;
    right: -5px;
    top: 0;
}
.nest .title-alt .titleFull .fullexe:hover {
    color: #6ADAE4;
}
.gone {
    color: rgba(0, 0, 0, 0.2);
    position: relative;
}
.gone:hover {
    color: rgba(0, 0, 0, 0.5);
}
.body-nest {
    padding: 15px;
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 0 0 4px 4px;
}
.help-block { color: #a9a9a9; }
/*** END PAPER FLOAD ***/

/*** BREADCRUMB ***/
.wrap-pagination {
    height: 50px;
    background: #ffffff;
    width: 100%;
    position: fixed;
    top: 61px;
}
.breadcrumb {
    background-color: #F5F5F5 !important;
    border-radius: 0 !important;
    list-style: none outside none !important;
    margin: 0 0 0 15px !important;
    padding: 0 !important;
    z-index: 99;
}
.breadcrumb li {
    display: inline-block;
    text-shadow: none!important;
}
.breadcrumb li a {
    color: #9EA7B3 !important;
    font-size: 13px;
    transition: all 0.4s ease 0s;
}
.breadcrumb li a:hover {
    color: #6ADAE4 !important;
    text-decoration: none;
}
#breadcrumb {
    border-bottom:1px solid rgba(0, 0, 0, 0.04);
    margin: 0;
    overflow: hidden;
    padding: 15px 0 5px 20px;
    width: 100%;
    background:none repeat scroll 0 0 rgba(0, 0, 0, 0.02);
}
#breadcrumb li {
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#breadcrumb a {
    height:30px;
    display:block;
    background-image:url('');
    background-repeat:no-repeat;
    background-position:right;
    padding-right: 0;
    text-decoration: none;
    color:#9EA7B3;
}
/*** END BREADCRUMB ***/

/*** FOOTER ***/
 .wrap-footer {
    margin-top: 60px;
}
.footer-space {
    height: 60px;
    width: 100%;
}
#footer {
    background: none repeat scroll 0 0 #f8f8f8;
    border-top: 1px solid #DDDDDD;
    bottom: 0;
    height: 50px;
    left: 0;
    position: absolute;
    width: 100%;
}
#footer ul {
    float: right;
    margin: 5px 15px;
    text-decoration: none;
}
#footer ul li {
    color: #555555;
    display: inline-block;
    font-size: 14px !important;
    padding: 0 6px;
    text-decoration: none;
}
.copyright {
    bottom: 0;
    color: #666666;
    float: right;
    font-size: 12px !important;
    padding: 5px 15px;
    position: relative;
}
.devider-footer {
    border-left: 1px solid #DDDDDD;
    float: right;
    height: 50px;
    margin-top: -10px;
    width: 4px;
}
.devider-left {
    border-left: 1px solid #DDDDDD;
    float: left;
    height: 50px;
    width: 4px;
}
/*** END FOOTER ***/

/*** WIZARD ***/
/*.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}
.wizard a,
.tabcontrol a { outline: 0; }
.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}
.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em;
}
.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard > .steps .number { font-size: 1.429em; }
.wizard > .steps > ul > li { width: 25%; }
.wizard > .steps > ul > li,
.wizard > .actions > ul > li  { float: left; }
.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}
.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    background: #eee;
    color: #aaa;
    cursor: default;
}
.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active {
    background: #2184be;
    color: #fff;
    cursor: default;
}
.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active {
    background: #9dc8e2;
    color: #fff;
}
.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active {
    background: #ff3111;
    color: #fff;
}
.wizard > .content {
    background: #f9f9f9;
    display: block;
    margin: 0.5em;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard.vertical > .content {
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}
.wizard > .content > .body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.wizard > .content > .body ul { list-style: disc !important; }
.wizard > .content > .body ul > li { display: list-item; }
.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}
.wizard > .content > .body input {
    display: block;
    border: 1px solid #ccc;
}
.wizard > .content > .body input[type="checkbox"] { display: inline-block; }
.wizard > .content > .body input.error {
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}
.wizard > .content > .body label {
    display: inline-block;
    margin-bottom: 0.5em;
}
.wizard > .content > .body label.error {
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}
.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li { margin: 0 0.5em; }
.wizard.vertical > .actions > ul > li { margin: 0 0 0 1em; }
.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active {
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active {
    background: #eee;
    color: #aaa;
}
.tabcontrol > .steps {
    background: none repeat scroll 0 0 #EEEEEE;
    border-radius: 4px 4px 0 0;
    display: block;
    position: relative;
    width: 100%;
}
.tabcontrol > .steps > ul {
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}
.tabcontrol > .steps > ul > li {
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabcontrol > .steps > ul > li:hover {
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}
.tabcontrol > .steps > ul > li.current {
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}
.tabcontrol > .steps > ul > li > a {
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li > a:hover { text-decoration: none; }
.tabcontrol > .steps > ul > li.current > a { padding: 15px 30px 10px 30px; }
.tabcontrol > .content {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}
.tabcontrol > .content > .body {
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.tabcontrol > .content > .body ul { list-style: disc !important; }
.tabcontrol > .content > .body ul > li { display: list-item; }*/
.nav.nav-stacked > li:not(.disabled) > a:hover,
.nav.nav-stacked > li:not(.disabled) > a:focus { background-color: #337ab7 !important; }
.bg-form {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 3px;
}
/*** END WIZARD ***/

/* iCheck plugin Flat skin, red
----------------------------------- */
.icheckbox_flat,
.iradio_flat {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(/images/flat.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat {
    background-position: 0 0;
}
    .icheckbox_flat.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat {
    background-position: -88px 0;
}
    .iradio_flat.checked {
        background-position: -110px 0;
    }
    .iradio_flat.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat,
    .iradio_flat {
        background-image: url(/images/flat@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* red */
.icheckbox_flat-red,
.iradio_flat-red {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(/images/red.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-red {
    background-position: 0 0;
}
    .icheckbox_flat-red.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-red.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-red.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-red {
    background-position: -88px 0;
}
    .iradio_flat-red.checked {
        background-position: -110px 0;
    }
    .iradio_flat-red.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-red.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-red,
    .iradio_flat-red {
        background-image: url(/images/red@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* green */
.icheckbox_flat-green,
.iradio_flat-green {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(green.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-green {
    background-position: 0 0;
}
    .icheckbox_flat-green.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-green.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-green.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-green {
    background-position: -88px 0;
}
    .iradio_flat-green.checked {
        background-position: -110px 0;
    }
    .iradio_flat-green.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-green.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-green,
    .iradio_flat-green {
        background-image: url(green@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* blue */
.icheckbox_flat-blue,
.iradio_flat-blue {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(/images/blue.png) no-repeat;
    border: none;
    cursor: pointer;
}
label.for-iCheck {
    padding-left: 5px;
    position: relative;
    top:-5px;
}
.icheckbox_flat-blue {
    background-position: 0 0;
}
.icheckbox_flat-blue.checked {
    background-position: -22px 0;
}
.icheckbox_flat-blue.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-blue.checked.disabled {
    background-position: -66px 0;
}

.iradio_flat-blue {
    background-position: -88px 0;
}
    .iradio_flat-blue.checked {
        background-position: -110px 0;
    }
    .iradio_flat-blue.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-blue.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-blue,
    .iradio_flat-blue {
        background-image: url(/images/blue@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* aero */
.icheckbox_flat-aero,
.iradio_flat-aero {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(aero.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-aero {
    background-position: 0 0;
}
    .icheckbox_flat-aero.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-aero.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-aero.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-aero {
    background-position: -88px 0;
}
    .iradio_flat-aero.checked {
        background-position: -110px 0;
    }
    .iradio_flat-aero.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-aero.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-aero,
    .iradio_flat-aero {
        background-image: url(aero@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* grey */
.icheckbox_flat-grey,
.iradio_flat-grey {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(grey.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-grey {
    background-position: 0 0;
}
    .icheckbox_flat-grey.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-grey.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-grey.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-grey {
    background-position: -88px 0;
}
    .iradio_flat-grey.checked {
        background-position: -110px 0;
    }
    .iradio_flat-grey.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-grey.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-grey,
    .iradio_flat-grey {
        background-image: url(grey@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* orange */
.icheckbox_flat-orange,
.iradio_flat-orange {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(orange.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-orange {
    background-position: 0 0;
}
    .icheckbox_flat-orange.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-orange.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-orange.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-orange {
    background-position: -88px 0;
}
    .iradio_flat-orange.checked {
        background-position: -110px 0;
    }
    .iradio_flat-orange.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-orange.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-orange,
    .iradio_flat-orange {
        background-image: url(orange@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* yellow */
.icheckbox_flat-yellow,
.iradio_flat-yellow {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(yellow.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-yellow {
    background-position: 0 0;
}
    .icheckbox_flat-yellow.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-yellow.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-yellow.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-yellow {
    background-position: -88px 0;
}
    .iradio_flat-yellow.checked {
        background-position: -110px 0;
    }
    .iradio_flat-yellow.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-yellow.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-yellow,
    .iradio_flat-yellow {
        background-image: url(yellow@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* pink */
.icheckbox_flat-pink,
.iradio_flat-pink {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(pink.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-pink {
    background-position: 0 0;
}
    .icheckbox_flat-pink.checked {
        background-position: -22px 0;
    }
    .icheckbox_flat-pink.disabled {
        background-position: -44px 0;
        cursor: default;
    }
    .icheckbox_flat-pink.checked.disabled {
        background-position: -66px 0;
    }

.iradio_flat-pink {
    background-position: -88px 0;
}
    .iradio_flat-pink.checked {
        background-position: -110px 0;
    }
    .iradio_flat-pink.disabled {
        background-position: -132px 0;
        cursor: default;
    }
    .iradio_flat-pink.checked.disabled {
        background-position: -154px 0;
    }

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-pink,
    .iradio_flat-pink {
        background-image: url(pink@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}

/* purple */
.icheckbox_flat-purple,
.iradio_flat-purple {
    display: block;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    background: url(purple.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox_flat-purple {
    background-position: 0 0;
}
.icheckbox_flat-purple.checked {
    background-position: -22px 0;
}
.icheckbox_flat-purple.disabled {
    background-position: -44px 0;
    cursor: default;
}
.icheckbox_flat-purple.checked.disabled {
    background-position: -66px 0;
}
.iradio_flat-purple {
    background-position: -88px 0;
}
.iradio_flat-purple.checked {
    background-position: -110px 0;
}
.iradio_flat-purple.disabled {
    background-position: -132px 0;
    cursor: default;
}
.iradio_flat-purple.checked.disabled {
    background-position: -154px 0;
}

/* Retina support */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (-moz-min-device-pixel-ratio: 1.5),
       only screen and (-o-min-device-pixel-ratio: 3/2),
       only screen and (min-device-pixel-ratio: 1.5) {
    .icheckbox_flat-purple,
    .iradio_flat-purple {
        background-image: url(purple@2x.png);
        -webkit-background-size: 176px 22px;
        background-size: 176px 22px;
    }
}
/* END iCheck plugin Flat skin, red
----------------------------------- */

.games {
    list-style-type: none;
    padding-left: 0;
}
.games li {
    padding: 10px 0;
    border-bottom: 1px solid #f1f1f1;
}
.games li.expired { background-color: #f2dede; }
.games li .result { padding-top: 10px; }
.games li .sb {
    padding-top: 5px;
    padding-left: 0;
}
.team-flag {
    width: 40px;
    height: 40px;
}
.team-flag.home { margin-right: 10px; }
.team-flag.away { margin-left: 10px; }
.goals-game { width: 37px; }
.legend {
    list-style: none;
    padding-left: 10px;
}
.title-alt h6 a {
    text-transform: none;
    font-size: 12px;
}
.full-width { width: 100%; }

/*** Effects & Animations ***/
@-webkit-keyframes highlight {
   0% { background: #dff0d8; }
   100% { background: none; }
}
@keyframes highlight {
   0% { background: #dff0d8; }
   100% { background: none; }
}
.highlight {
   -webkit-animation: highlight 1s ease-in .5;
   animation: highlight 1s ease-in .5;
}
/*** END Effects & Animations ***/

/*** Margins & Paddings ***/
.mrl, .mal { margin-right: 20px !important; }
.mtm, .mam { margin-top: 10px !important; }
.mtl, .mal { margin-top: 20px !important; }

.pl15, .pa15 { padding-left: 15px !important; }
.pts, .pas { padding-top: 5px !important; }
.ptm, .pam { padding-top: 10px !important; }
.pr15, .pa15 { padding-right: 15px !important; }
.pbm, .pam { padding-bottom: 10px !important; }
/*** END Margins & Paddings ***/

/*** Admin tweaks ***/
body.fixed .logo { margin: 0; }
body.fixed .navbar {
    margin-top: 0 !important;
    min-height: 50px !important;
}
body.fixed .breadcrumb { background-color: transparent !important; }
body.fixed input[type="search"] {
    background: rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    color: white;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body.fixed input[type="search"]:focus { background: rgba(0, 0, 0, 1); }
/*** END Admin tweaks ***/

/*** Profile ***/
.content-wrap {
    padding: 0 30px;
}
.profile {
    width: 100%;
    min-height: 355px;
    display: inline-block;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.5) !important;
}
.img-profile {
    margin:0 auto;
    text-align:left;
    width:13em;
    height:13em;
}
.profile .list-group-item {
    background-color: rgba(255, 255, 255, 0.1) !important;
}
.profile-name {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid #EEEEEE !important;
    border-radius: 4px;
    margin-bottom: 20px;
}
.profile-name h2 a {
    font-size: 15px;
    text-decoration: none;
}
.social-profile i{
    font-style: normal;
    cursor: pointer;
}
.profile-content{
    border-bottom: 1px dashed #eee;
    width: 100%;
    padding: 5px 0;
}
.profile-content > span {
    width: 100px;
}
.profile-content > i {
    font-style: normal;
    padding: 0 30px;
}
.dl-horizontal-profile dt {
    clear: left;
    float: left;
    overflow: hidden;
    padding: 8px 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
.dl-horizontal-profile dd{
     padding: 8px 0;
}
.dl-horizontal-profile dd:before {
    content: ":";
    padding-right: 20px;
}
.profile-edit {
    min-height: 355px;
    display: inline-block;
    margin: 40px 20px 0 20px;
    background: rgba(255, 255, 255, 0.5)!important;
    width: 100%!important;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
/*** Profile ***/
