<template name="login">

    <form role="form" class="login">
        <div class="form-group {{errorClass 'email'}}">
            <label for="email">E-mail</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group {{errorClass 'password'}}">
            <a href="#" class="pull-right label-forgot">Olvidaste tu contrase&ntilde;a?</a>
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div class="checkbox pull-left">
            <label>
                <input type="checkbox">No cerrar sesi&oacute;n</label>
        </div>
        <button class="btn btn btn-primary pull-right" type="submit">
            Log In
        </button>
    </form>
    <a class="forgotLnk" href="index.html"></a>
    <div class="or-box">
        <center><span class="text-center login-with">O Iniciar sesi&oacute;n con</span></center>
        <div class="row">
            <div class="col-md-6 row-block">
                <a href="index.html" class="btn btn-facebook btn-block">
                    <span class="entypo-facebook space-icon"></span>Facebook</a>
            </div>
            <div class="col-md-6 row-block">
                <a href="index.html" class="btn btn-twitter btn-block">
                    <span class="entypo-twitter space-icon"></span>Twitter</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="row-block">
        <div class="row">
            <div class="col-md-12 row-block">
                <a href="{{ pathFor 'join' }}" class="btn btn-primary btn-block">Registrarse</a>
            </div>
        </div>
    </div>

</template>
