<template name="editTournament">
	<div class="col-sm-12">
        <div class="nest" id="verticalClose">
            <div class="title-alt">
                <h6>Editar Torneo {{name}}</h6>
                <div class="titleClose">
                    <a class="gone delete" href="#" alt="Eliminar Torneo">
                        <span class="entypo-cancel"></span>
                    </a>
                </div>
            </div>

            <div class="body-nest">
                <div id="tab_vertical" class="row">

	                <ul class="nav nav-pills nav-stacked col-sm-3 pl15" role="tablist">
	                    <li role="presentation" class="active">
	                        <a href="#form" aria-controls="form" role="tab" data-toggle="tab">1. Editar Torneo</a>
	                    </li>
	                    <li role="presentation">
	                        <a href="#invite" aria-controls="invite" role="tab" data-toggle="tab">2. Invitar Amigos</a>
	                    </li>
	                </ul>

	                <div class="tab-content col-sm-9">
	                    <section role="tabpanel" class="tab-pane fade in bg-form active" id="form">
	                        {{> formTournament}}
	                    </section>

	                    <section role="tabpanel" class="tab-pane fade bg-form" id="invite">
	                        <h4>Invitar Amigos</h4>
	                        <p>Ingresa las direcciones de email que quieras invitar separadas por coma (,).</p>
	                        <div class="row">
	                        	<form role="form" class="invite-form">
		                        	<div class="form-group col-sm-12">
		                        		<textarea class="full-width multiemails" name="emails"></textarea>
		                        	</div>
		                        	<div class="form-group col-sm-12">
		                        		<button class="btn btn-info btn-save pull-right" type="submit" data-loading-text="Enviando..">Enviar</button>
	                        		</div>
                        		</form>
	                        </div>
	                    </section>
	                </div>
                </div>
            </div>
        </div>
    </div>
</template>
