<template name="tournament">
	<!-- Positions -->
	<div class="col-sm-6">
        <div class="nest" id="tableStaticClose">
            <div class="title-alt">
                <h6>{{name}} Posiciones</h6>
                <div class="titleToggle">
                    <a class="nav-toggle-alt" href="#tableStatic">
                        <span class="entypo-up-open"></span>
                    </a>
                </div>
            </div>

            <div class="body-nest" id="tableStatic">
                <section id="flip-scroll">
                    <table class="table table-striped cf">
                        <thead class="cf">
                            <tr>
                                <th>Pos.</th>
                                <th>Usuario</th>
                                <th class="numeric">Ac.</th>
                                {{#if matchExact}}
                                    <th class="numeric">Ac.E.</th>
                                {{/if}}
                                <th class="numeric">Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each members }}
                                <tr>
                                    <td>{{pos}}.</td>
                                    <td>
                                        <img alt="" class="admin-pic table-position img-circle" src="{{ user.getProfilePicture }}">
                                        {{ user.getFullName }}
                                    </td>
                                    <td class="numeric">{{hits}}</td>
                                    {{#if ../matchExact}}
                                        <td class="numeric">{{hitsExact}}</td>
                                    {{/if}}
                                    <td class="numeric">{{points}}</td>
                                </tr>
                            {{else}}
                                <tr><td colspan="{{colspan}}">No hay usuarios.</td></tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <ul class="legend">
                        <li><strong>Ac.</strong>: Aciertos</li>
                        {{#if matchExact}}
                            <li><strong>Ac.E.</strong>: Aciertos Exactos</li>
                        {{/if}}
                        <li><strong>Pts</strong>: Puntos</li>
                    </ul>
                </section>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
    	<div class="nest" id="tableStaticClose">
            <div class="title-alt">
                <h6>{{name}} Partidos</h6>
                <div class="titleToggle">
                    <a class="nav-toggle-alt" href="#tableStaticGames">
                        <span class="entypo-up-open"></span>
                    </a>
                </div>
            </div>

            <div class="body-nest" id="tableStaticGames">
                <ul class="games">
                    {{#each games }}
	                    <li class="row">
	                    	{{> game}}
	                    </li>
                    {{else}}
                    	<li>No hay partidos.</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
