<template name="footer">
    <div class="footer-space"></div>
    <div id="footer">
        <div class="devider-footer-left"></div>
        <div class="time">
            <p id="spanDate"></p>
            <p id="clock"></p>
        </div>
        <div class="copyright">
            <a href="javascript:void(0)" class="terms">Terminos y condiciones</a> &nbsp;|&nbsp;
            &copy;{{currentYear}} prodedeamigos.com
        </div>
        <div class="devider-footer"></div>
        <ul>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
        </ul>
    </div>
</template>
