<template name="sidebar">
	<!-- SIDE MENU -->
    <div id="skin-select">
        <div id="logo">
            <h1>
            	<a href="{{pathFor 'home'}}">
            		<img src="/images/prode-logo-small.png" title="Logo">
            		<span>Prode de Amigos</span>
            	</a>
            </h1>
        </div>

        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left no-cursor">
                                <span class="widget-tournaments"></span>
                            </a>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Participando En:">
                                <i class="icon-view-list"></i>
                                <span>Participando En:</span>
                            </a>
                            <ul>
                                {{#each tournaments}}
                                    <li>
                                        <a class="tooltip-tip2 ajax-load" href="{{pathFor 'seeTournament' slug=slug}}" title="{{name}}">
                                        	<i class="entypo-doc-text"></i><span>{{name}}</span>
                                    	</a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a class="tooltip-tip2 ajax-load" href="" title="none">
                                            <i class="entypo-doc-text"></i><span>Ningun torneo.</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Mis Torneos">
                                <i class="fontawesome-th-large"></i>
                                <span>Mis Torneos</span>
                            </a>
                            <ul>
                                {{#each myTournaments}}
                                    <li>
                                        <a class="tooltip-tip2 ajax-load" href="{{pathFor 'editTournament' slug=slug}}" title="{{name}}">
                                            <i class="entypo-doc-text"></i><span>{{name}}</span>
                                        </a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a class="tooltip-tip2 ajax-load" href="" title="none">
                                            <i class="entypo-doc-text"></i><span>Ningun torneo.</span>
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </li>

                        <li>
                            <a class="tooltip-tip ajax-load" href="{{pathFor 'createTournament'}}" title="Crear Torneo">
                                <i class="icon-plus"></i>
                                <span>Crear Torneo</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->
</template>
