<template name="terms">
    <div class="modal fade terms">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="form-horizontal change-password-form" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Terminos y condiciones</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>El Prode es un concurso entre amigos que consiste acertar los resultados (local, empate o visita) de partidos de f&uacute;tbol. Adem&aacute;s, tambi&eacute;n se podra intentar acertar el resultado exacto de cada partido. Este sitio web no utiliza apuesta ni dinero real.</p>

                                <h3>Confidencialidad y protecci&oacute;n de datos</h3>
                                <p>A efecto de lo previsto en la Ley Argetina de Protecci&oacute;n de Datos de Car&aacute;cter Personal, este sitio web informa al usuario de la existencia de una base de datos automatizada de car&aacute;cter personal creado por y para <i>prodedeamigos.com</i> y bajo su responsabilidad, con la finalidad de realizar el mantenimiento y gesti&oacute;n de la relaci&oacute;n con el usuario, as&iacute; como las labores de informaci&oacute;n. Ud. da su consentimiento expreso para la inclusi&oacute;n de sus datos en la mencionada base de datos y la remisi&oacute;n de informaciones comerciales de productos de <i>prodedeamigos.com</i>. En el momento de la aceptaci&oacute;n de las presentes condiciones generales, <i>prodedeamigos.com</i> precisar&aacute; del usuario la recogida de unos datos imprescindibles para la prestaci&oacute;n de sus servicios.</p>

                                <h3>Advertencia!</h3>
                                <p>Apostar implica un alto riesgo psicologico y financiero. <i>Prodedeamigos.com</i> no se hace responsable de cualquier perdida o da&ntilde;o como consecuencia de decisiones basadas en informaci&oacute;n o consejos de apuestas que aparecen en este sitio. Se advierte al visitante de actuar exclusivamente bajo su propia discreci&oacute;n y riesgo.</p>

                                <h3>Finalidades</h3>
                                <p>Las finalidades de <i>prodedeamigos.com</i> son el mantenimiento y gesti&oacute;n de la relaci&oacute;n con el usuario, as&iacute; como las labores de informaci&oacute;n de productos y servicios de <i>prodedeamigos.com</i>.</p>

                                <h3>Cookies</h3>
                                <p>Esta web utiliza cookies. Una cookie es un peque&ntilde;o fichero de datos que el sitio web env&iacute;a al ordenador del usuario y que nos sirve para controlar el seguimiento de lectura de informaci&oacute;n. Si quiere impedir que se generen cookies en su disco duro, seleccione la correspondiente opci&oacute;n en su navegador.</p>

                                <h3>Cesión de datos a terceros</h3>
                                <p><i>Prodedeamigos.com</i> no realizar&aacute; cesi&oacute;n de datos de los usuarios a terceros.</p>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</template>
