<template name="changePassword">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <form class="form-horizontal change-password-form" role="form">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Modifica tu password</h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group {{errorClass 'current'}}">
                                    <label class="col-lg-4 control-label">Password actual:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="current" type="password" required>
                                    </div>
                                </div>
                                <div class="form-group {{errorClass 'newone'}}">
                                    <label class="col-lg-4 control-label">Nuevo password:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" id="newone" name="newone" type="password" required>
                                    </div>
                                </div>
                                <div class="form-group {{errorClass 'newone_confirm'}}">
                                    <label class="col-lg-4 control-label">Confirmar password:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" name="newone_confirm" type="password" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <input class="btn btn-success btn-save" value="Modificar" type="submit" data-loading-text="Modificando..">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</template>
